
=================================================
# Graded Challenge 1

## Nama  : Akbar-Fitriawan
## Batch : HCK-14


=================================================

In [88]:
def member_diskon(customer, harga):

  customer_reguler = 'customer_reguler'
  customer_vip = 'customer vip'
  if customer == customer_reguler:

      if harga >= 10000:
        customer_diskon_10 = 10
        print(f'{customer_reguler} mendapat diskon {customer_diskon_10} %')
      elif harga <= 10000:
        customer_diskon_5 = 5
        print(f'{customer_reguler} mendapat diskon {customer_diskon_5} %')

  elif customer == customer_vip:

    if harga >= 50000:
      customer_diskon_30 = 30
      print(f'{customer_vip} mendapat diskon {customer_diskon_30} %')

    elif harga<= 50000:
      customer_diskon_20 = 20
      print(f'{customer_vip} mendapat diskon {customer_diskon_20} %')

  else:
    print('tidak ada diskon')

  return customer, harga

In [89]:

akbar = member_diskon('customer_reguler', harga=200000)

customer_reguler mendapat diskon 10 %

In [90]:
def discount( harga_awal,persen_harga):
  discount = (persen_harga/100) * harga_awal
  hasil = harga_awal - discount
  return hasil

In [92]:
akbar = discount(200000,10)

In [93]:
akbar

180000.0

In [77]:
x = discount(12000, 10)

In [95]:

def tambah(nama , harga):
  item = []
  barang = (nama,harga)
  return item.append(barang)

In [97]:
def menghitung_total(nama, *harga_barang):
  item=[]
  barang = (nama,harga_barang)
  item.append(barang)
  total = 0
  for i in item:
    total += item
  return total