# Import Libraries

In [42]:
# library dataframe
import pandas as pd
# library olah data numerical
import numpy as np

# Save model
import pickle
# import joblib
import json


# Library to suppress warnings or deprecation notes
import warnings
warnings.filterwarnings('ignore')

# Data inference

Buat data dari Car insurance

In [43]:
data = [
    {
        'ID': i + 1,
        'AGE': np.random.choice(['Young', 'Middle Age', 'Old','Very Old']),
        'GENDER':np.random.choice(['male','female']),
        'RACE': np.random.choice(['Majority', 'Minority']),
        'DRIVING_EXPERIENCE': np.random.choice(['Newbie', 'Amateur', 'Advanced', 'Expert']),
        'EDUCATION': np.random.choice(['high school','none', 'university']),
        'INCOME': np.random.choice(['upper class', 'poverty', 'working class', 'middle class']),
        'CREDIT_SCORE': np.random.uniform(0,10),
        'VEHICLE_OWNERSHIP': np.random.choice([0.0, 1.0]),
        'VEHICLE_YEAR': np.random.choice(['before 2015', 'after 2015']),
        'MARRIED': np.random.choice([0.0,1.0]),
        'CHILDREN': np.random.choice([0.0,1.0]),
        'POSTAL_CODE': np.random.choice([10238, 32765, 92101, 21217]),
        'ANNUAL_MILEAGE':np.random.randint(0, 25000),
        'VEHICLE_TYPE':np.random.choice(['sedan', 'sport car']),
        'SPEEDING_VIOLATIONS': np.random.randint(0,50),
        'DUIS': np.random.randint(0,50),
        'PAST_ACCIDENTS': np.random.randint(0,50),
        'OUTCOME':np.random.choice([0.0,1.0])
    } for i in range(6) 
]

data = pd.DataFrame(data)
data

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,1,Old,male,Majority,Amateur,none,middle class,1.605914,0.0,before 2015,1.0,0.0,21217,4226,sport car,17,31,8,0.0
1,2,Old,female,Minority,Newbie,none,working class,9.688488,1.0,after 2015,1.0,1.0,21217,15951,sedan,32,9,26,1.0
2,3,Old,female,Majority,Newbie,high school,middle class,4.462191,0.0,after 2015,1.0,0.0,32765,13363,sedan,28,49,11,0.0
3,4,Young,male,Majority,Newbie,high school,working class,4.872883,0.0,before 2015,0.0,0.0,32765,792,sedan,41,33,25,1.0
4,5,Middle Age,female,Minority,Newbie,university,working class,8.722264,0.0,before 2015,0.0,0.0,32765,13851,sedan,37,5,32,0.0
5,6,Middle Age,female,Majority,Expert,high school,middle class,3.827319,1.0,after 2015,1.0,0.0,32765,9197,sedan,27,4,19,1.0

# Load model dan utilities

In [44]:
# Load model and other files

# with open('list_cat_cols.txt', 'r') as file_1: # jika di butuhkan
#   list_cat_col = json.load(file_1)

# with open('list_num_cols.txt', 'r') as file_2: #jika dibutuh kan
#   list_num_col = json.load(file_2)

with open("ranfo_pipe.pkl", "rb") as file_3:
  ranfo_pipe = pickle.load(file_3)

# with open("scaler.pkl", "rb") as file_4: #jika dibutuh kan
#   scaler = pickle.load(file_4)

# with open("encoder.pkl", "rb") as file_5: #jika dibutuh kan
#   encoder = pickle.load(file_5)

# Prediction

In [45]:
ranfo_prediction = ranfo_pipe.predict(data)
ranfo_prediction

array([1., 0., 0., 1., 1., 0.])

In [46]:
ranfo_prediction[0]

1.0